<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>neyer.PRS.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>neyer.PRS.controller.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>neyer.PRS.controller.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>neyer.PRS.controller.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddVendorServlet</servlet-name>
    <servlet-class>neyer.PRS.controller.AddVendorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVendorServlet</servlet-name>
    <url-pattern>/addVendor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatingVendorServlet</servlet-name>
    <servlet-class>neyer.PRS.controller.UpdatingVendorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatingVendorServlet</servlet-name>
    <url-pattern>/UpdatingVendor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductsUpdatingServlet</servlet-name>
    <servlet-class>neyer.PRS.controller.ProductsUpdatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsUpdatingServlet</servlet-name>
    <url-pattern>/UpdatingProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>neyer.PRS.controller.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateVendorServlet</servlet-name>
    <servlet-class>neyer.PRS.controller.UpdateVendorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVendorServlet</servlet-name>
    <url-pattern>/updateVendor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>neyer.PRS.controller.UpdateProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/updateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VendorsServlet</servlet-name>
    <servlet-class>neyer.PRS.controller.VendorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorsServlet</servlet-name>
    <url-pattern>/vendors</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>AddRequestServlet</servlet-name>
    <servlet-class>neyer.PRS.controller.AddRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRequestServlet</servlet-name>
    <url-pattern>/addRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateRequestsServlet</servlet-name>
    <servlet-class>neyer.PRS.controller.UpdateRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRequestsServlet</servlet-name>
    <url-pattern>/updateRequest</url-pattern>
  </servlet-mapping>
</web-app>